.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: rgb(225, 225, 225);
  border-bottom-width: 1;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.logo {
  height: 24px;
}

.search-button {
  height: 40px;
  width: 66px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  margin-left: -1px;
  margin-right: 10px;
}

.notifications-container, .search-button, .voice-search-button, .upload-container, .apps-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications-container .tooltip, .apps-container .tooltip, .search-button .tooltip, .voice-search-button .tooltip, .upload-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  border-radius: 2px;
  bottom: -30px;

  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.notifications-container:hover .tooltip, .apps-container:hover .tooltip, .search-button:hover .tooltip, .voice-search-button:hover .tooltip, .upload-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px, solid, rgb(200, 200, 200);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-size: 16px;
}

.voice-search-icon {
  height: 24px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.upload-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.apps-icon {
  height: 24px;
}

.user-icon {
  height: 32px;
  border-radius: 16px;
}

.notifications-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}